<h1>All Surgeries</h1>

<% @surgeries.each do |surgery| %>
  <section id ="surgery-<%= surgery.id %>">
    <h2> <%= link_to surgery.title, "surgeries/#{surgery.id}" %></h2>
    <h4> Doctors: </h4>
    <%= Doctor.where(id: DoctorSurgery.where(surgery_id: surgery.id).pluck(:doctor_id)).pluck(:name) %>
  </section>
<% end %>
